
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    color: black;
    background-color: white;
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em;
    height: 50px;
    text-align: center;
}

nav {
    background-color: white;/* #EF5732; */
    padding: 0.5em;
    text-align: center;
}

nav button {
    background-color: #EEEEEE;
    border: 2px;
    border-style: solid;
    border-color: #DADBDD;
    color: #1589FF;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
}

section {
    display: none;
    padding: 0.5em;
}

h1 {
    color: #1589FF;
    background-color: #EEEEEE;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
}

h2 {
    color: #1589FF;
    background-color: #EEEEEE;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
}


footer {
    color: black; 
    background-color: white; 
    padding: 0.5em; 
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

a {
    font-weight: bold; 
    color: #b00b1e;  
}

input[type="submit"] {
    background-color: #b00b1e;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

button {
    background-color: #b00b1e;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    text-align: center;

}

#profile_section_id input[type="submit"] {
    background-color: #b00b1e;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

/* Enable Aboud section by default */
#login_section_id {
    display: block;
}

/*CSS for available time siden*/
input.time_chk_btn {
    display: none;
}

input.time_chk_btn + label {
    background-color: #fabf296e;
    color: black;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    border: none;
    border-radius: 0em;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-evenly
}

input.time_chk_btn:not(:checked) + label:hover {
    box-shadow: 0.1em 0.1em 0.1em #888888;
}

input.time_chk_btn + label:active,
input.time_chk_btn:checked + label {
    box-shadow: 0em 0em 0.1em inset;
    background-color: #b00b1ec0;
    color: white;
}

#activity_todo {
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#activity_info_todo {
    font-weight: bold;
}


