
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    color: white;
    background-color: #009CD6;
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em;
    height: 50px;
}

nav {
    background-color: #009CD6;/* #EF5732; */
    padding: 0.5em;
}
nav button {
    background-color: #FABE29;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

section {
    display: none;
    padding: 0.5em;
}

h1 {
    color: white;
    background-color: #FABE29;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
}

h2 {
    color: black;
    background-color: #fabf29c0;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
}


footer {
    color: white; 
    background-color: #009CD6; 
    padding: 0.5em; 
}

a {
    font-weight: bold; 
    color: #b00b1e;  
}

input[type="submit"] {
    background-color: #b00b1e;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

button {
    background-color: #b00b1e;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;

}

#profile_section_id input[type="submit"] {
    background-color: #b00b1e;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

/* Enable Aboud section by default */
#login_section_id {
    display: block;
}


/*CSS for available time siden*/
ul {
    padding: 0;
    margin: 0;
    clear: both;
  }

  li{
    list-style-type: none;
    list-style-position: outside;
    padding: 10px;
    float: left;
    margin-bottom: 10px;
  } 
 
  input[type="checkbox"]:not(:checked),
  input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
  }


  input[type="checkbox"] + label {
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      border: 1px solid black;
      color: black;
      background-color: white;
      margin-bottom: 10px;
  }

  input[type="checkbox"]:checked + label {
      border: 1px solid white;
      color: white;
      background-color: black;
  } 